:root {
  margin: 0;
  background-color: cadetblue;
}
body {
  background-color: rgb(14, 23, 33);
  color: white;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  font-size: 13px;
  padding-bottom: 15px;
  color: rgb(208, 208, 208);
}
p {
  font-size: 13px;
  color: rgb(208, 208, 208);
}
a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

input {
  display: none;
}

.hover-border-top-only {
  > li {
    // 行高
    // line-height: 4rem;
    // font-size: 14px;
    // align-items: center;
    // padding: 0px 14px;
    color: white;
    position: relative;
    cursor: pointer;

    &:hover::before {
      border-top: #ffc989 2px solid;
      transform: translateY(-6px);
      color: #ffc989;
    }

    //---------------------------------------第2曾
  }
  // navbar 上面的線
  > li::before {
    content: "";
    position: absolute;
    //依情況調整
    width: calc(100% - 16px);
    height: 100%;
    //依情況調整
    left: 8px;
    border-top: #ffc98900 1px solid;
    box-sizing: border-box;
    // top: 22px;
    transition: transform 0.3s ease;
  }
}

.hover-color-only {
  li {
    a {
      transition: color 0.3s;
    }

    &:hover > a {
      color: #ffc989 !important;
    }
  }
}
